<ion-card class="borde">
    <ion-card-header>
    

            <ion-card-title color="medium" class="ion-text-center">
                Iniciar Sesión
                
            </ion-card-title>
        
    </ion-card-header>
    <ion-card-content>
        <form [formGroup]="loginForm" (submit)="login()">
            <ion-item>
                <ion-label value="email" class="opacidad-media" position="floating">Correo Electrónico</ion-label>
                <ion-input formControlName="correo" type="text"></ion-input>
            </ion-item>            
            <ion-item>
                <ion-label value="contrasena" class="opacidad-media" position="floating" >Contraseña</ion-label>
                <ion-input formControlName="contrasena" type="password"></ion-input>
            </ion-item>   
            <ion-row>
                <ion-col>
                    <ion-button (click)="login()" expand="block">
                        Iniciar sesión
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="10" offset="1" class="ion-text-center">
                    <ion-router-link [routerLink]="'../restablecer-contrasena'">
                        Restablecer Contraseña
                    </ion-router-link>
                </ion-col>
            </ion-row>
        </form>
    </ion-card-content>
</ion-card>