<ion-app>
  <app-menu></app-menu>
</ion-app>

<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Registra tu Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
            
            
            
            <app-pantalla1>
              
            </app-pantalla1>
            <app-app-scanner>
              
            </app-app-scanner>
            
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-content>
    
    <ion-footer>
      <ion-toolbar>
        <ion-button href="home/alumnos" expand="block" color="success">
          Registra tu Asistencia
        </ion-button>
    
  </ion-toolbar>
</ion-footer>

<app-menu></app-menu>