<ion-app>
  <app-menu></app-menu>
</ion-app>

<ion-header>
  <ion-toolbar>
      <ion-title>Registra tu Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>

              <h1>Registraste tu asistencia con Exito.</h1>
              <h3>Ya puedes cerrar la Aplicación.</h3>
              
              <ion-button [routerLink]="'pantalla1'" expand="block" color="danger">
                Click me
              </ion-button>

          </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-app>
  <app-menu></app-menu>
</ion-app>