<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h1>RegistrAPP</h1>
      <br>
      <h2>Esta aplicación fue desarrollada para la asignatura 'Desarrollo de Aplicaciones Móviles', impartida por el profesor Julio Herrera en DuocUc durante el periodo de verano.</h2>
      <br>
      <h2>Proyecto en GitHub:</h2>
      <a href="https://github.com/crison14/RegistrAPP">https://github.com/crison14/RegistrAPP</a>
      <br>
      <h3></h3>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-app>
  <app-menu></app-menu>
</ion-app>