<ion-header>
  <ion-toolbar>
    <ion-title>Generar Código QR para asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="mostrarQr = !mostrarQr" expand="block" >
          Generar QR 
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarQr">
      <ion-col>
        <img src="https://i.ibb.co/9yjQHFv/frame.png" alt="qr">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>