

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>001D_Programación de Aplicaciones Móviles</ion-label>
          <ion-button (click)="mostrarQr = !mostrarQr" expand="block" slot="end">
            QR 
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>002D_Programación de Aplicaciones Móviles</ion-label>
          <ion-button (click)="mostrarQr = !mostrarQr" expand="block" slot="end">
            QR 
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarQr">
      <ion-col>
        <ion-card>
          <img src="https://i.ibb.co/9yjQHFv/frame.png" alt="qr">          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>